.hero_section_container {
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_section_content {
    width: 45%;
    height: max-content;
    margin-top: 3rem;
} 

.hero_section_content p {
    font-size: 45px;
    color: #1F4b43;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


.hero_section_content div {
    font-size: 12px;
    color: #35384B;
    text-align: center;
    width: 95%;
   
}

.btn_container {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.btn_container .btn,
    .btn_container .outline {
        width: 32%;
    }


@media (max-width: 841px) {
    .hero_section_container {
        height: 92vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .hero_section_content {
        width: 100%;
        padding: 0 1rem;
        margin-top: 2rem;
    }  
    
    .hero_section_content p {
        font-size: 40px;
    }    
    
    
    .hero_section_content span {
        padding: 0 1rem;
    }
    
    .btn_container {
        display: flex;
        margin-top: 3rem;
        align-items: center;
        gap: 15px;
        justify-content: center;
    }

    .btn_container .btn,
    .btn_container .outline {
        width: 45%;
    }
}