.footer-main{
    height: 333px;
    border: solid red;
    /* background-color: #1f4b43;  */
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: solid blue;
    height: 250px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.item1{
    grid-row: 1/2;
}