.footer_container {
    width: 100%;
    padding: 1rem 0;
    background-color: #1f4b43;
  }
  
  .footer_inner_container {
    width: 80%;
    margin: 0 auto;
    padding: 8px 0;
  }
  
  .footer_section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left_side_div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #dddddd;
    margin-top: 30px;
  }
  
  .left_side_div h5 {
    letter-spacing: 1.5px;
    text-align: left;
    color: #fff;
    margin-top: -70px;
    margin-bottom: -4px;
    font-size: 20px;
  }
  
  .left_side_div p {
    text-align: left;
    font-size: 12px;
    padding: 8px 0;
    letter-spacing: 1px;
  }
  
  .social_media {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: left;
    /* padding: 8px 0; */
    font-size: 14px;
    color: #fff;
    margin-top: 70px;
    margin-left: -230px;
    gap: 12px;
  }
  
  .right_side_div {
    width: 74%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #dddddd;
  }
  
  .right_div h5 {
    letter-spacing: 1.5px;
    text-align: left;
    color: #fff;
    font-size: 16px;
  
  }
  
  .right_div p {
    text-align: left;
    padding: 3px 0;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 1px;
  }
  
  
  .middle_parent {
    width: 70%;
    padding: 12px 0;
  }
  
  .middle_div {
    width: 100%;
    display: flex;
    color: #dddddd;
    padding: 2px 0;
    font-size: 12px;
    letter-spacing: 1px;
    white-space: nowrap;
  }
  
  .email_div {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
  }
  .email_div p {
    margin-left: 4px;
  }
  
  .call_div {
    width: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-left: 20px;
  }
  .call_div p {
    margin-left: 4px;
  }
  
  .location_div {
    width: 266px;
    display: flex;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-left: 20px;
  }
  
  .location_div p {
    margin-left: 4px;
    margin-bottom: -10px;
  }

  .location_icon{
    margin-left: 80px;
    margin-top: 10px;
  }
  
  
  .last_section {
    margin-top: 5px;
  }
  
  .last_section_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 2px 0;
    font-size: 12px;
    letter-spacing: 1px;
    white-space: nowrap;
    color: #dddddd;
  }
  
  @media (max-width: 841px) {
    .footer_Wrapper {
      margin-top: 3rem;
    }
    .footer_section_one_div {
      flex-direction: column;
      align-items: start;
    }
  
    .left_side_div p {
      text-align: left;
      /* padding-bottom: 90px; */
    }
  
    .social_media {
      width: 35vw;
      text-align: left;
      font-size: 20px;
    }
  
    .right_side_div {
      width: 74%;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .middle_div {
      width: 60vw;
      flex-direction: column;
      text-align: left;
    }
  
    .call_div {
      margin-left: -1px;
    }
  
    .location_div {
      margin-left: -1px;
      font-size: 12px;
    }
    .last_section_div {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .last_section_div span {
      font-size: 10px;
      margin-top: 8px;
    }

    .left_side_div h5 {
      letter-spacing: 1.5px;
      text-align: left;
      color: #fff;
      margin-top: -530px;
      /* margin-bottom: -4px; */
      /* font-size: 20px; */
      /* flex-direction: column; */
    }

    .left_side_div p {
      text-align: left;
      font-size: 12px;
      /* padding: 8px 0; */
      letter-spacing: 1px;
      margin-bottom: 420px;
    }

    .social_media{
      width: 150px;
      margin-bottom: 700px;
      color: #fff;
      display: flex;
      align-items: start;
      justify-items: flex-end;
      margin-left: -90px
      ;
    }

    .footer_section1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 150px;
    }

    .right_div{
      margin-left: -120px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }