.sub_hero_section_container {
    height: 236px;
    display: flex;
    color: #ffffff;
    padding: 0 10rem;
    align-items: center;
    background-color: #1F4B43;
    justify-content: space-between;
}

.sub_hero_text {
    text-align: left;
}

@media (max-width: 841px) {
    .sub_hero_section_container {
        gap: 12px;
        padding: 0 2rem;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
    }

    .sub_hero_text h1{
        font-size: 20px;
        text-align: center;
    }

    .sub_hero_text p{
        font-size: 15px;
        text-align: center;
    }
}